<nav class="navbar navbar-expand-md d-none d-md-block">
    <div class="custom-container">
        <span class="btn btn-success support">شماره پشتیبانی: ۷۲۱۱۳-۰۲۱</span>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link">ورود یا ثبت نام</a></li>
        </ul>
    </div>
</nav>
<div class="alert alert-success text-center  d-block d-md-none alert-dismissible fade show" role="alert"> <span>شماره
        پشتیبانی: ۷۲۱۱۳-۰۲۱</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="d-none d-lg-block nav-header">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-2">
                <button class="shopcart"><span class="content-shop">سبد خرید</span><span
                        class="badge-shop">2</span></button>
            </div>
            <div class="col-8 navbar navbar-expand">
                <ul class="text-center  navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">صحفه اصلی</a></li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" role="link"
                            data-toggle="dropdown">دسته بندی ها</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">درباره ما</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">تماس با ما</a></li>
                </ul>
                <div id="search">
                    <form>
                        <div class="form-group w-75 mx-auto">
                            <input type="text" name="search" type="text" class="form-control" placeholder="جستجو...">
                            <button><i class="material-icons">
                                    search
                                </i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2 text-left"><img src="/img/logo.svg" alt="logo" width="150px"></div>

        </div>
    </div>
</div>

<nav id="mobile-nav" class="d-block d-lg-none">
    <div class="container-fluid d-flex justify-content-between">
        <a href="#" class="menu-button"><i class="material-icons">
                dehaze
            </i><span>دسته بندی ها</span></a>
            <a href="#" class="brand" ><img src="/img/logo.svg" alt="logo" width="50px" ></a>
        <a href="" class="d-inline-block login" >ورود و ثبت نام</a>    
            <ul class="swip-menu">

            </ul>

            

    </div>
</nav>