<nav class="navbar navbar-expand-md d-none d-md-block">
    <div class="custom-container">
        <span class="btn btn-success support">شماره پشتیبانی: ۷۲۱۱۳-۰۲۱</span>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link">ورود یا ثبت نام</a></li>
        </ul>
    </div>
</nav>
<div class="alert alert-success text-center  d-block d-md-none alert-dismissible fade show" role="alert"> <span>شماره
        پشتیبانی: ۷۲۱۱۳-۰۲۱</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="d-none d-md-block nav-header">
    <div class="custom-container">
        <div class="row w-100">
            <div class="col-1"></div>
            <div class="col-10">
                <ul class="text-center d-flex">
                    <li><a href="#">صحفه اصلی</a></li>
                    <li><a href="#">دسته بندی ها</a></li>
                    <li><a href="#">درباره ما</a></li>
                    <li><a href="#">تماس با ما</a></li>
                </ul>
            </div>
             <div class="col-1"><img src="/img/logo.svg" alt="logo" class="img-fluid"></div>
         
        </div>
    </div>
</div>