@import './fonts/fonts';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shabnam';
}
body{
    overflow: hidden;
}
.custom-container{
    width: 90% ;
    margin: 0 auto ;
    display: flex;
    @media(max-width:992px){
        width:100% !important;
    }
    a.nav-link{
        color:#000;
        font-size: 13px;
    }
}

.nav-header{
    padding-top: 3rem;
    direction: rtl;
    background:#fafafa;
    .custom-container{
        position: relative;
    }
    .col-1{
        display: flex;
        align-items: center;
    }
    .col-2{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .navbar {
        flex-wrap: wrap !important;
        position: unset !important;
    }
    ul{
        list-style: none;
        text-align: center;
        justify-content: center;
        flex-basis: 100%;
        li{
            padding:0 20px;
            a{
                color: black;
                font-size: 15px !important;
                &:hover{
                    text-decoration: none;
                    color:#febe2d
                }
                &:active{
                    color:#febe2d
                }
            }
        }

    }
    .dropdown{
        position: unset !important;
    }
    .dropdown-menu{
        position: absolute;
        width: 80%;
        top:15%;
       left: 10%;
    }

  #search{
    margin-top: 3rem;
    flex-basis: 100%;
     input[type="text"]{
        display: inline-block;
        padding:20px;
        border-radius: 18px;
        border:2px solid #c5c6c8;
        &:focus{
            box-shadow: none;
            outline: none;
        }

     }
     button{
         background: #febe2d;
         padding:4px 20px;
         border:none;
         border-top-left-radius:180px ;
         border-bottom-left-radius:180px ;
         transform: translate(5px,-38px);
         display: inline-block;
         width: 10%;
         i{
             font-size: 20px;
             vertical-align: middle;
             

         }

     }
  }  
}
.activee{
    color: #febe2d !important;
}
.shopcart{
    background:#febe2d;
    padding:10px 55px;
    border: none;
    border-radius: 18px;
    position: relative;
    .badge-shop{
        display: inline-block;
        width: 45px;
        height: 45px;
        background: white;
        border-radius: 50%;
        position: absolute;
        top:0px;
        left: -5px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
display: flex;
align-items: center;
justify-content: center;


    }
}

#mobile-nav{
    direction: rtl;
    text-align: right;
    background:white;
   width: 100%;
   
    .menu-button{
        i{
            vertical-align: middle;
            padding-left: 10px;
        }
       color:black;
       font-size: 13px;
       text-decoration: none;
    }
    ul.swip-menu{
        width:80vw;
        height: 90vh;
        background:#fafafa;
        // transform:translateX(110%);
       position: absolute;
       right:-100%;
       top:10.25%;
        z-index: 5;
        transition: all 1s ease-in-out;
    }
    ul.swip-menu.open{
  
      right:0;

    }
    .login{
        color:black;
        font-size: 13px;
        text-decoration: none;
    }
   
}
.ov{
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.ov.overlay{
    width: 100%;
    height: 200vh;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 2;
  opacity: 1;

}